[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/GreenWaves-Technologies/riscv-gcc.git
[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/GreenWaves-Technologies/riscv-binutils-gdb.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv/riscv-dejagnu.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/GreenWaves-Technologies/pulp-riscv-newlib.git
